<!-- partial:partials/_footer.html -->
<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2025.</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"><h4 style="color: rgb(46, 237, 16);">ShoppingKart</h4> </span>
    </div>
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Distributed by <a href="http://127.0.0.1:8000/" target="_blank">ShoppingKart</a></span> 
    </div>
</footer> 
<!-- partial -->