# Ignore everything
*

# Except these:
!.gitignore
!commands.txt

# Allow project files and folders
!manage.py
!requirements.txt
!docker-compose.yml
!Dockerfile

# Allow Django project and app directories (edit as needed)
!shoppingkart/
!app/

# Now ignore unnecessary inside those folders
shoppingkart/__pycache__/
shoppingkart/*.pyc
app/__pycache__/
app/*.pyc

# Common ignores
__pycache__/
*.py[cod]
*.log
*.pot
*.pyc
db.sqlite3
.env
*.sqlite3
*.pyc
*.pyo
*.so
.DS_Store
*.egg-info/
*.bak
*.swp
.vscode/
.idea/
node_modules/
staticfiles/
media/
