# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/

# secret key
secret_key.py

# Environments
.env/
venv/
env/
*.sqlite3 # For SQLite database files, e.g., db.sqlite3
.DS_Store # macOS specific
Thumbs.db # Windows specific

# IDE specific files
.idea/ # PyCharm
.vscode/ # VS Code
*.sublime-project
*.sublime-workspace

# Media and Static files
/media/
/static/

# Logs
*.log

# Ignore commands.txt file
commands.txt

# Test and Coverage
.coverage
htmlcov/
.tox/
.pytest_cache/

# Sensitive Information
local_settings.py # Or any other file containing sensitive local settings