{% extends 'admin-panel.html' %}

{% block content %}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title" style="color: rgb(46, 237, 16);">Edit Category | {{ category.category_id }}</h3>
                        
                        <!-- FIXED FORM -->
                        <form class="forms-sample" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            
                            <div class="form-group">
                                <label for="exampleInputName1">Category name</label>
                                <input type="text" class="form-control" id="exampleInputName1"  name="category_name" value="{{ category.category_name }}">
                                <input type="hidden" name="category_id" value={{category.id}}>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail3">Description</label>
                                <textarea class="form-control" id="exampleInputEmail3" name="category_description" rows="4">{{ category.category_description }}</textarea>
                            </div>
                            
                            <div class="form-group">
                                <label>File upload</label>
                                <!-- Hidden file input -->
                                <input type="file" name="category_image" class="file-upload-default" id="fileUpload" style="display:none;">
                                
                                <div class="input-group col-xs-12">
                                    <input type="text" class="form-control file-upload-info" disabled value="{{ category.category_image }}">
                                    <span class="input-group-append">
                                        <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                                    </span>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary mr-2">Update</button>
                            <a href="{% url 'manage-category' %}" class="btn btn-light">Cancel</a>
                        </form>
                        <!-- END FORM -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 🔥 JavaScript Fix -->
<script>
    // when "Upload" button is clicked, trigger hidden file input
    document.querySelector(".file-upload-browse").addEventListener("click", function () {
        document.querySelector("#fileUpload").click();
    });

    // when file is selected, show file name in text field
    document.querySelector("#fileUpload").addEventListener("change", function () {
        let fileName = this.files[0] ? this.files[0].name : "Upload Image";
        document.querySelector(".file-upload-info").value = fileName;
    });
</script>



{% endblock content %}